.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
.title-container {
    margin-top: 20px;
}

.tooltip {
  color: red
}

.tooltip-country {
  font-size: 15px;
  color: red;
}

.tooltip-continent {

}

.tooltip-avg-income {

}

.tooltip-population {

}

.tooltip-fertility {

}